.dashboard {
  padding: 20px;
  text-align: center;
}

.dashboard-content {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 20px;
}

/* Responsivo */
@media (max-width: 768px) {
  .dashboard-content {
    flex-direction: column;
    align-items: center;
  }

  .dashboard-content > div {
    width: 90%;
  }
}
