.navbar {
  background: #0077cc;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navbar-links {
  display: flex;
  gap: 15px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  padding: 30px;
}

.navbar-links a:hover {
  text-decoration: underline;
}

/* Responsivo */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar-links {
    flex-direction: column;
    margin-top: 10px;
  }
}
